@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Poppins:wght@200&display=swap');

:root{
    --lg-font: 'Kaisei Decol', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}

body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--pink) !important;
}



